html, body
{
    padding: 0;
    margin: 0;
    background-color: black;
}
.hyperimage
{
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
